mixin breadcrum(props = {})
    -var {classname = '', link2=false, href2="#!", nav1, nav2, heading, subHeading} = props
    div(class=`breadcrum ${classname}`)
        .container 
            .row.flex-center
                .col-lg-7.col-md-8.col-sm-10
                    .heading-nav.flex-center.gap-8
                        if(!nav2)
                            a(href="index.html").hover-underline.caption1.text-placehover Home 
                            i.ph-fill.ph-dot-outline.text-purple
                            a(href=`${href2}`).caption1.text-white!= nav1 
                        if(nav2)
                            a(href="index.html").hover-underline.caption1.text-placehover Home 
                            i.ph-fill.ph-dot-outline.text-purple
                            a(href=`${href2}`).caption1.text-placehover!= nav1 
                            i.ph-fill.ph-dot-outline.text-purple
                            .caption1.text-white!= nav2
                    .text-nav.text-center.mt-12
                        .heading3.text-white.text-center.display-inline-block!= heading
                            svg(xmlns='http://www.w3.org/2000/svg' width='38' height='46' viewbox='0 0 38 46' fill='none')
                                path(d='M10.1501 28.6324C13.835 25.1233 24.0331 16.9879 35.3457 12.5187M13.8035 40.7067C17.0357 40.4323 25.4105 40.4869 33.0524 42.9013M2.95566 19.8167C4.12796 16.7921 7.85358 9.29141 13.3777 3.48513' stroke='#7D3CF3' stroke-width='5' stroke-linecap='round')
                        .sub-heading.mt-8.text-white.text-center.fw-400!= subHeading