mixin projectItem(props = {})
    -var {classname = '', href="#!", img, category, title} = props
    div(class=`${classname} item` href=`${href}`)
        .bg-img.bora-20.overflow-hidden
            img(src=`${img}`, alt=`${title}`).w-100
        a(href=`${href}`).infor.p-12
            .text-button-uppercase.text-secondary!= category
            .heading7.text-on-surface.mt-4!= title
        