mixin serviceItem(props = {})
    -var {classname = '', href="service-detail.html", style='', icon, title, desc} = props
    div(class=`service-item hover-box-shadow ${classname}`)
        if(style=='style-four')
            a(href=`${href}`).service-item-main
                .heading
                    i(class=`${icon}`)
                .desc.mt-32
                    .heading6!= title 
                    .text-placehover.mt-8!= desc
        